body {
    text-align: center;
    background: url('../img/bg-tile.png') repeat;
}

.wrapper {
    margin: 0 auto;
    display: inline-block;
}

#console {
    z-index: 1;
    margin-left: -248px;
}

#canvas {
    z-index: -1;
    float: left;
    position: relative;
    top: 26px;
    left: 72px;
}